---
import Layout from '@layouts/Layout.astro';
import SectionWithHeading from '@layouts/SectionWithHeading.astro';
---

<Layout title="Blogs ✍️ Hugh Nguyen">
  <main>
    <SectionWithHeading heading="Blogs">
      <div>Blogs here...</div>
    </SectionWithHeading>
  </main>
</Layout>
