---
import Layout from '@layouts/Layout.astro';
import SectionWithHeading from '@layouts/SectionWithHeading.astro';
import ContactForm from '@components/ContactForm.astro';
---

<Layout title="Contact 📧 Hugh Nguyen">
  <main>
    <SectionWithHeading heading="Get In Touch! 🤙">
      <ContactForm />
    </SectionWithHeading>
  </main>
</Layout>
