---
import Layout from '@layouts/Layout.astro';
import SectionIntro from '@components/SectionIntro.astro';
import SectionProjects from '@components/SectionProjects.astro';
---

<Layout title="Hugh Nguyen | Welcome to my website">
  <main class="w-full grow">
    <SectionIntro />
    <SectionProjects />
  </main>
</Layout>
