---
import Button from './Button.astro';
import InputText from './InputText.astro';
---

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<form>
  <div class="space-y-12">
    <div class="pb-12">
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <InputText
            type="text"
            id="full-name"
            name="full-name"
            label="Name"
            required
          />
        </div>

        <div class="sm:col-span-3">
          <InputText
            type="text"
            id="company"
            name="company"
            label="Company / Organization"
          />
        </div>

        <div class="sm:col-span-3">
          <InputText
            type="email"
            id="email"
            name="email"
            label="Email"
            required
          />
        </div>

        <div class="sm:col-span-3">
          <InputText type="text" id="phone" name="phone" label="Phone" />
        </div>

        <div class="col-span-full">
          <InputText
            type="text"
            id="subject"
            name="subject"
            label="Subject"
            required
          />
        </div>

        <div class="col-span-full">
          <InputText
            type="textarea"
            id="message"
            name="message"
            label="Message"
            required
          />
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2 flex items-center justify-end gap-x-6">
    <Button type="submit" label="Send" />
  </div>
</form>
