---
import { Image } from 'astro:assets';

const email = 'hi@hughnguyen.dev';
const linkedIn = 'hhnguyen255';
const github = 'LiquidN2';
---

<footer class="w-full">
  <div class="max-w-2xl my-0 mx-auto px-0 py-16">
    <h4 class="mb-8 w-full font-bold">Contact</h4>
    <div class="w-full grid grid-cols-[30px_1fr] gap-4 items-center">
      <div>
        <Image
          src="/email-icon.svg"
          alt="LinkedIn icon"
          width="20"
          height="20"
        />
      </div>
      <div><a href={email}>{email}</a></div>
      <div>
        <Image
          src="/linkedin-icon.svg"
          alt="LinkedIn icon"
          width="20"
          height="20"
        />
      </div>
      <div>{linkedIn}</div>
      <div>
        <Image
          src="/github-icon.svg"
          alt="LinkedIn icon"
          width="20"
          height="20"
        />
      </div>
      <div>{github}</div>
    </div>
  </div>
</footer>
