---
import { Image } from 'astro:assets';
---

<footer class="w-full">
  <div class="max-w-2xl my-0 mx-auto px-0 py-16">
    <h4 class="mb-8 w-full font-bold">Contact</h4>
    <div class="w-full grid grid-cols-[30px_1fr] gap-4 items-center">
      <div>
        <Image
          src="/email-icon.svg"
          alt="LinkedIn icon"
          width="20"
          height="20"
        />
      </div>
      <div>hhnguyen255@gmail.com</div>
      <div>
        <Image
          src="/linkedin-icon.svg"
          alt="LinkedIn icon"
          width="20"
          height="20"
        />
      </div>
      <div>hhnguyen255</div>
      <div>
        <Image
          src="/github-icon.svg"
          alt="LinkedIn icon"
          width="20"
          height="20"
        />
      </div>
      <div>LiquidN2</div>
    </div>
  </div>
</footer>
